td, th {
	border: 1px solid;
}

body {
  background-color: #343D46;
}

header h1 {
  text-align: center;
  color: black;
  font-family: Andale Mono, monospace;
}
  
#planets {
  position: relative;
  margin: 0 auto;
  top: 100px;
  text-align: center;
  border-collapse:collapse;
  color:black;
  width: 90%;
}

#planets tr {
  background-color: white;
  font-weight: 800;
}

#planets th {
  font-size: 1.3em;

}

#planets td {
  font-weight: 700;
}

#planets img {
  max-height: 50%;
  max-width: 50%;
}

.earth {
  background-color: #aae9b3;
}

.jupiter {
  background-color: #fc8e6e;
}

.saturn {
  background-color: #fcbd6e;
}

.uranus {
  background-color: #80ccff;
}